body{
    background-color:navajowhite;
}


h1{
    text-align:center;
}

.first{
    display: flex;
    justify-content:center;
}
.box1{
    background-color:blue;
    width: 100px;
    height: 100px;
    transition: width 2s;
}
.box1:hover{
    width: 200px;
}
.box2{
    background-color:green;
    width: 100px;
    height: 100px;
    transition: width 2s;
}
.box2:hover{
    width: 250px;
    height: 250px;
}
.box3{
    background-color:brown;
    width: 100px;
    height: 100px;
    transition: width 2s;
}
.box3:hover{
    width:300px;
}
.box4,.box5,.box6,.box7{
    width: 100px;
    height: 100px;
    transition: width 2s;
}
.box4:hover{
    width: 300px;
}
.box4{
    background-color:pink;
}
.box5{
    background-color:teal;
}
.box5:hover{
    width:300px;
}
.box6{
    background-color:grey;
}
.box6:hover{
    width:300px;
}
.box7{
    background-color:blueviolet;
}
.box7:hover{
    width:300px;
}
a{
    font-size: 30px;
    text-align: center;
    margin-left: 650px;
}